*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

.container{
    width: 250px;
    height: 400px;
    margin: 90px auto;
    box-shadow: 5px 5px 5px #5a5a5a,
                -5px -5px 5px #ffffff;
    border-radius: 14px;
}

.box{
    width: 200px;
    margin: 20px auto;
}
#display{
    border: none;
    outline: none;
    color: black;
    text-align: right;
    font-weight: 600;
    padding: 15px;
    margin: 30px 0 18px 0;
    background: transparent;
    box-shadow: 
                inset 2px 2px 5px #babacc,
                inset -5px -5px 10px #ffffff;
    cursor: context-menu;
}
.btn{
    margin: 25px 0 0 5px;
    width: 42px;
    height: 42px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(214,214,214);
    box-shadow: 5px 5px 9px #b8b8b8,
                -5px -5px 99px #ffffff;
}
.aribtn{
    color:#ffffff;
    background-color:#000;
}
.clrbtn{
    color: #fff;
    background-color:red;
}